<p id="notice"><%= notice %></p>
<center>
<body style="border:double 300px #99FFFF;">
<h1>タスク一覧</h1>

  <%= form_tag({:action=>"search"}) do %>
    <%= collection_select 'search','user',User.all,:id,:username,{selected: @search_user,include_blank:"全員"} %>
    <%= collection_select 'search','category',Category.all,:id,:categoryname,{selected: @search_category,include_blank:"全カテゴリ"} %>
    <%= text_field_tag "search[name]",@search_value %>  
    <%= submit_tag "検索" %>  
    <%= link_to "リセット", tasks_path %>  
  <% end %>  


<table  style="background-color: dimgray">
  <thead  style="background-color: white">
    <tr>
      <th>完遂済</th>
      <th>予定日</th>
      <th>タスク名</th>
      <th>カテゴリー</th>
      <th>ユーザー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="background-color:#FFFFFF;">
    <% @tasks.each do |task| %>
      <tr>
        <% if task.done == true %>
          <td><%= "○" %></td>
           <td><%= task.due_date %></td>
           <td><%= task.name %></td>
           <td><%= task.category.categoryname %></td>
           <td><%= task.user.username %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '更新', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></td>
        <% else %>
          <td style="background-color:#ff8888;"><%= "×" %></td>
          <td style="background-color:#ff8888;"><%= task.due_date %></td>
          <td style="background-color:#ff8888;"><%= task.name %></td>
          <td style="background-color:#ff8888;"><%= task.category.categoryname %></td>
          <td style="background-color:#ff8888;"><%= task.user.username %></td>
        <td style="background-color:#ff8888;"><%= link_to '詳細', task %></td>
        <td style="background-color:#ff8888;"><%= link_to '更新', edit_task_path(task) %></td>
        <td style="background-color:#ff8888;"><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タスク登録', new_task_path %>
</center>
