<p id="notice"><%= notice %></p>
<body style="border:double 300px #99FFFF;">
<center>
<p>
  <strong>予定日:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category.categoryname %>
</p>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>完遂済:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user.username %>
</p>

<%= link_to '更新', edit_task_path(@task) %> |
<%= link_to '一覧へ戻る', tasks_path %>
</center>