<p id="notice"><%= notice %></p>
<center>

<body style="border:double 300px #FFFF99;">
<p>
  <strong>ユーザーID:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>ユーザー名:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>

<%= link_to '更新', edit_user_path(@user) %> |
<%= link_to '一覧へ戻る', users_path %>
</center>