<!DOCTYPE html>
<html>
<head>
  <title>ToDoリスト</title>
<center>
  <%= image_tag "top.png" %>
  <ul>
    <li style="display: inline-block " ><%= link_to "タスク一覧", tasks_path,:style=>"color:#00CCFF;" %> |</li>
    <li style="display: inline-block"><%= link_to "タスク登録", new_task_path,:style=>"color:#00CCFF;" %> |</li>
    <li style="display: inline-block"><%= link_to "ユーザー一覧", users_path,:style=>"color:#FFCC00;" %> |</li>
    <li style="display: inline-block"><%= link_to "カテゴリー一覧", categories_path,:style=>"color:#FF9933;" %> </li>
</ul>
</center>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
